<html>
    <head>See the post</head>
    
    <body>
        User Id: <%= userId%>  <br>
        User code: <%= code%> <br>
        User password: <%= password%> <br>
        User type: <%= type%> <br>
        User name: <%= name%> <br>
        User isActive: <%= isActive%> <br>

        <h2>User Image:</h2> 
        <% if(image==null){%>
        <img src="/images/hawaiian.jpg">
        <%}else{%>
            <img alt="embadded image" src="data:image/png;base64,<%=image%>">
            <%}%>




    </body>




</html>
